//fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Reem+Kufi+Ink&display=swap');
$nameFont: 'Reem Kufi Ink', sans-serif;
$msgFont: 'Kanit', sans-serif;
$ivory: #FFFDED;
$gunmetal: #242F40;

#contact-content-container{
    width: 100%;
    padding: 1em;
    font-family: $nameFont;
}

#contact-header{
    color: white;
}

#download-container{
    display: flex;
}

#contact-content{
    display: flex;
    justify-content: space-around;
}

#resume-download-btn{
    cursor: pointer;
    background-color: white;
    border: none;
    font-family: $msgFont;
    box-shadow: 1px 1px 10px black;
}