//fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Reem+Kufi+Ink&display=swap');
$nameFont: 'Reem Kufi Ink', sans-serif;
$msgFont: 'Kanit', sans-serif;
$ivory: #FFFDED;
$gunmetal: #242F40;

#contact-content-container{
    width: 100%;
    font-family: $nameFont;
}

#download-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 65%;
    align-self: center;
    padding: 0em 1em;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: inset 1px 1px 30px black;
}

#contact-content{
    display: flex;
    justify-content: space-around;
}

#contact-info-container{
    background-color: white;
    width: 60%;
    padding: 0em 1em;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 1px 1px 15px black;
}

.contact-list-item{
    display: flex;
    align-items: center;
}

#contact-list-link{
    cursor: pointer;
}

.contact-btn{
    cursor: pointer;
    color: white;
    background-color: $gunmetal;
    border: none;
    font-family: $nameFont;
    font-size: 18px;
    height: fit-content;
    padding: 0.5em;
    margin: 1em 0em;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px black;
}

.contact-btn:hover{
    box-shadow: inset 1px 1px 25px black;
}