//fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Reem+Kufi+Ink&display=swap');
$nameFont: 'Reem Kufi Ink', sans-serif;
$msgFont: 'Kanit', sans-serif;
$ivory: #FFFDED;
$gunmetal: #242F40;

#projects-header{
    color: white;
    font-family: $nameFont;
}

#projects-header-content{
    width: 100%;
}

#project-thumbnail-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;

    //not sure I want to keep the below
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: inset 0px 0px 50px black;
}

.project-thumbnail{
    cursor: pointer;
    background-color: white;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    padding: 0.5em;
    font-family: $nameFont;
}

#project-expanded-container{
    display: flex;
    background-color: white;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0.5em;
}

#arrow-back{
    cursor: pointer;
    top: 0%;
    height: 20%;
    margin: 0.33em 0em 0.67em 0em;
    padding: none;
    background-color: transparent;
    border: none;
}

#thumbnail-hr{
    color: $gunmetal;
}