//fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito&family=Reem+Kufi+Ink&family=Rubik:wght@400&display=swap');
$rubik:'Rubik', sans-serif;
$nameFont: 'Reem Kufi Ink', sans-serif;
$msgFont: 'Kanit', sans-serif;
$nunito: 'Nunito', sans-serif;

//colors
$orange: #E36414;
$navy: #13262F;
$ivory: #FFFDED;
$gunmetal: #242F40;
$offwhite: #EDEFFF;
$ivory: #FFFDED;
$grey: #212529;
$slate-grey: #5F758E;
