$ivory: #FFFDED;

#container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-bottom: 15em;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;

  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}