.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container{
  display: flex;
  justify-content: space-around;
}