.box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid red;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expanded-box{
    border: 1px solid red;
    margin-left: 3em;
    padding: 0.25em 3em;
    border-radius: 10% / 80%;
}

.content-container{
    margin: 1em;
}